.dropzone {
  width:300px;
  height: 200px;
  background: #dae7ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  outline: 0;
}

.dropzone img {
  width: 300;
  height: 100%; 
  object-fit: cover;
}

.dropzone p {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed #4A90E2;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.dropzone p svg {
  color: #4A90E2;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}