.page-container {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 32px auto;
}

.page-container header {
  align-items: center;
}

.page-container header span {
  font-size: 20px;
  margin-left: 24px;
}